                  <button id="loginbutton" type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#registration">
                    <i class="glyphicon glyphicon-link">
                    </i>Registration
                  </button>
                <%=render "devise/registrations/form_new"%>