/* line 2, /home/oleg/shop/app/assets/stylesheets/store.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 2, /home/oleg/shop/app/assets/stylesheets/store.scss */
:focus {
  outline: 0;
}

/* line 2, /home/oleg/shop/app/assets/stylesheets/store.scss */
ol, ul, li {
  list-style-type: none;
}

/* line 2, /home/oleg/shop/app/assets/stylesheets/store.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 2, /home/oleg/shop/app/assets/stylesheets/store.scss */
caption, th, td {
  text-align: left;
  font-weight: 400;
}

/* End Reset defaults (no need to edit above this line)*/
/*Import Custom Styles */
/**************************** Site Structure *****************************/
/* line 9, /home/oleg/shop/app/assets/stylesheets/store.scss */
html {
  font-size: 100%;
}

/* line 14, /home/oleg/shop/app/assets/stylesheets/store.scss */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: .875em;
  line-height: 1.6em;
  border-top: 7px solid #333;
  background: #eaeaea url(/assets/shop/background.png);
  color: #666;
}

/* line 22, /home/oleg/shop/app/assets/stylesheets/store.scss */
#container {
  font-size: 1em;
  width: 900px;
  background: #FFF;
  box-shadow: 0px 2px 10px #888888;
  border-radius: 5px;
  /* 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  */
  padding: 20px;
  margin: auto;
  position: relative;
  clear: both;
}

/* line 38, /home/oleg/shop/app/assets/stylesheets/store.scss */
.header {
  width: 1000px;
  margin-left: 160px;
  margin-top: 60px;
}

/* line 44, /home/oleg/shop/app/assets/stylesheets/store.scss */
#site_title {
  float: left;
  padding-top: 36px;
  padding-left: 20px;
}

/* line 45, /home/oleg/shop/app/assets/stylesheets/store.scss */
#site_title img {
  float: left;
}

/* line 51, /home/oleg/shop/app/assets/stylesheets/store.scss */
.wrap-articles {
  margin-left: -30px;
}

/* line 53, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post-box {
  width: 388px;
  background: #f0f0f0;
  float: left;
  border: 1px solid #CCC;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  height: 200px;
  padding: 10px 22px;
  margin: 0 0 30px 30px;
}

/* line 63, /home/oleg/shop/app/assets/stylesheets/store.scss */
.tab_article {
  margin: 20px 0;
  clear: both;
}

/* line 65, /home/oleg/shop/app/assets/stylesheets/store.scss */
.tab_article img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

/* line 67, /home/oleg/shop/app/assets/stylesheets/store.scss */
.tab_article p {
  overflow: hidden;
  padding: 0;
  font-size: .9em;
  line-height: normal;
  font-style: italic;
}

/* line 69, /home/oleg/shop/app/assets/stylesheets/store.scss */
.tab_article h3 {
  height: 30px;
}

/* line 71, /home/oleg/shop/app/assets/stylesheets/store.scss */
.sidebar_right {
  float: right;
  width: 300px;
}

/* line 74, /home/oleg/shop/app/assets/stylesheets/store.scss */
#footer {
  font-size: .8em;
  width: 1000px;
  margin-left: 220px;
  padding: 30px 20px 50px;
  clear: both;
  color: #b2b5b9;
}

/**************************** Typography *****************************/
/* line 88, /home/oleg/shop/app/assets/stylesheets/store.scss */
.no_display {
  display: none;
}

/* line 90, /home/oleg/shop/app/assets/stylesheets/store.scss */
h1, h2, h3, h4 {
  font-family: 'Parisienne', sans-serif;
}

/* line 92, /home/oleg/shop/app/assets/stylesheets/store.scss */
h1 {
  font-size: 34px;
  padding: 20px 0;
  color: #000;
}

/* line 94, /home/oleg/shop/app/assets/stylesheets/store.scss */
h2, h3 {
  margin: 20px 0;
  color: #000;
  font-weight: normal;
  text-transform: normal;
}

/* line 96, /home/oleg/shop/app/assets/stylesheets/store.scss */
h2 {
  font-size: 2em;
}

/* line 98, /home/oleg/shop/app/assets/stylesheets/store.scss */
h3 {
  font-size: 2em;
}

/* line 100, /home/oleg/shop/app/assets/stylesheets/store.scss */
h4 {
  font-size: 1.2em;
  font-weight: 700;
}

/* line 102, /home/oleg/shop/app/assets/stylesheets/store.scss */
.heading_bg {
  background: url(/assets/shop/heading_bg.png) repeat-x 0 30px;
}

/* line 104, /home/oleg/shop/app/assets/stylesheets/store.scss */
.heading_bg h1,
.heading_bg h2,
.heading_bg h3,
.heading_bg h4 {
  background: #FFF;
  padding-right: 10px;
  display: inline-block;
}

/* line 109, /home/oleg/shop/app/assets/stylesheets/store.scss */
#footer h3 {
  color: #888d92;
}

/* line 111, /home/oleg/shop/app/assets/stylesheets/store.scss */
one-third
p {
  padding: 10px 0;
  font-size: 1em;
}

/* line 117, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post_meta {
  padding-bottom: 5px 3px;
}

/* line 119, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post_meta li {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding-left: 22px;
  margin-right: 15px;
}

/* line 121, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post_meta_admin {
  background: url("/assets/shop/sprite.png") no-repeat 0 -64px;
}

/* line 122, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post_meta_date {
  background: url("/assets/shop/sprite.png") no-repeat 0 -80px;
}

/* line 123, /home/oleg/shop/app/assets/stylesheets/store.scss */
.post_meta_comments {
  background: url("/assets/shop/sprite.png") no-repeat 0 0;
}

/* line 125, /home/oleg/shop/app/assets/stylesheets/store.scss */
.excerpt {
  font-size: 1.4em;
  border-top: 1px dotted #999;
  border-bottom: 1px dotted #999;
  padding: 30px;
}

/* line 128, /home/oleg/shop/app/assets/stylesheets/store.scss */
small {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #999;
}

/* line 130, /home/oleg/shop/app/assets/stylesheets/store.scss */
strong {
  font-weight: bold;
  font-size: 1.2em;
}

/* line 132, /home/oleg/shop/app/assets/stylesheets/store.scss */
em {
  font-style: italic;
}

/* line 134, /home/oleg/shop/app/assets/stylesheets/store.scss */
a {
  color: #2997AB;
  text-decoration: none;
}

/* line 137, /home/oleg/shop/app/assets/stylesheets/store.scss */
#container ul li {
  list-style: none;
}

/* line 138, /home/oleg/shop/app/assets/stylesheets/store.scss */
#container ol li {
  list-style: none;
}

/* line 140, /home/oleg/shop/app/assets/stylesheets/store.scss */
blockquote {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  margin: 10px 0;
}

/* Lists *

dt {font-size: 1.4em;}
dd {margin-bottom: 30px; font-size: 1em; color: gray; border-bottom: 1px dotted gray; padding-bottom: 30px;}




/**************************** Gallery *****************************/
/* line 152, /home/oleg/shop/app/assets/stylesheets/store.scss */
#gallery {
  margin-left: -13px;
  overflow: auto;
  padding-bottom: 18px;
  position: static;
}

/* line 160, /home/oleg/shop/app/assets/stylesheets/store.scss */
.float_left {
  float: left;
  background: #1A1A1A;
  height: 170px;
  width: 175px;
  border: 1px solid #CCC;
  box-shadow: 3px 3px 3px #e3e3e3;
  margin: 0px 0px 13px 13px;
  padding-top: 9px;
  text-align: center;
}

/* line 172, /home/oleg/shop/app/assets/stylesheets/store.scss */
.center {
  margin: auto;
}

/* line 174, /home/oleg/shop/app/assets/stylesheets/store.scss */
#no_gallery_found {
  width: 798;
  padding: 50px;
  margin: auto;
  background: red;
  border: 10px solid white;
}

/* line 178, /home/oleg/shop/app/assets/stylesheets/store.scss */
#navcontainer_gallery {
  padding-left: 0;
  margin-left: 0;
  background: #1d232c;
  color: White;
  float: left;
  width: 100%;
  font-family: arial, helvetica, sans-serif;
}

/* line 189, /home/oleg/shop/app/assets/stylesheets/store.scss */
#navcontainer_gallery li {
  display: inline;
  padding: .5em 1em;
  background: #0404040;
  color: White;
  text-decoration: none;
  float: left;
  border-right: 1px solid #101010;
}

/* line 200, /home/oleg/shop/app/assets/stylesheets/store.scss */
#navcontainer_gallery li a {
  color: White;
  text-decoration: none;
}

/* line 207, /home/oleg/shop/app/assets/stylesheets/store.scss */
#navcontainer_gallery ul li a:hover {
  background-color: #369;
  color: #fff;
}

/**************************************************************************************/
/*-------------------------------------- pagination ---------------------------------*/
/************************************************************************************/
/*these two css classes must remain for ajax navigation 4*/
/*you can change attributes inside them*/
/* line 223, /home/oleg/shop/app/assets/stylesheets/store.scss */
.current, .pages {
  /*css for current page*/
  background: #F4F4F4;
  padding: 0px 5px;
  border-radius: 3px;
  position: relative;
  float: left;
  text-align: center;
  cursor: auto;
  margin-right: 3px;
  padding-top: 1px;
}

/* line 224, /home/oleg/shop/app/assets/stylesheets/store.scss */
.pages {
  /*css for other pages*/
  border: none;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

/* line 225, /home/oleg/shop/app/assets/stylesheets/store.scss */
.pages:hover, .current {
  background-position: 0 -16px;
  font-weight: bold;
  float: left;
  margin-right: 5px;
}

/*end required css for ajax navigation 4*/
/* line 228, /home/oleg/shop/app/assets/stylesheets/store.scss */
.article_box, .article_box2 {
  position: relative;
  float: left;
  width: 450px;
  padding: 10px;
  border: 1px solid #aaa;
  background: url(../img/article_bg.png);
}

/* line 229, /home/oleg/shop/app/assets/stylesheets/store.scss */
.article_box2, .box_footer {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*loader div when content is loaded from the database*/
/* line 232, /home/oleg/shop/app/assets/stylesheets/store.scss */
.loader_div {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: #000;
  z-index: 99999;
  text-align: center;
  padding-top: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  filter: alpha(opacity=70);
  opacity: 0.7;
  -moz-opacity: 0.7;
  visibility: hidden;
}

/* line 234, /home/oleg/shop/app/assets/stylesheets/store.scss */
.select {
  background-color: #F0F9E8;
  border: 1px solid #7CC53A;
  font-size: 11px;
  font-family: Tahoma;
}

/* line 235, /home/oleg/shop/app/assets/stylesheets/store.scss */
.gray {
  color: #ccc;
}

/**************************************************************************************/
/*----------------------------------------- Tabs ------------------------------------*/
/************************************************************************************/
/* line 244, /home/oleg/shop/app/assets/stylesheets/store.scss */
.menu_tab {
  padding: 0;
  clear: both;
}

/* line 245, /home/oleg/shop/app/assets/stylesheets/store.scss */
.menu_tab li {
  display: inline;
}

/* line 246, /home/oleg/shop/app/assets/stylesheets/store.scss */
.menu_tab li a {
  background: #3d4753;
  padding: 5px 10px;
  float: left;
  border-right: 1px solid #f5f5f5;
  border-bottom: none;
  text-decoration: none;
  color: #FFF;
  font-weight: normal;
}

/* line 247, /home/oleg/shop/app/assets/stylesheets/store.scss */
.menu_tab li.active a {
  background: #f5f5f5;
  color: #272727;
}

/* line 249, /home/oleg/shop/app/assets/stylesheets/store.scss */
.tab_content {
  float: left;
  clear: both;
  border-top: none;
  border-left: none;
  background: #f5f5f5;
  padding: 4%;
  width: 92%;
}

/**************************************************************************************/
/*------------------------------------- Grid Homepage -------------------------------*/
/************************************************************************************/
/* line 257, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid {
  width: 960px;
  padding: 0 0 30px;
  height: auto;
  font-size: 12px;
  line-height: 18px;
}

/* line 259, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 261, /home/oleg/shop/app/assets/stylesheets/store.scss */
.item-hover {
  margin: 0 !important;
  padding: 0 !important;
  height: 150px;
}

/* line 266, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .portfolio-thumbnail {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  height: 100%;
  background: #000;
  text-align: left;
  cursor: pointer;
}

/* line 276, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .thumb-text {
  padding: 10px;
}

/* line 279, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .portfolio-thumbnail h4 {
  color: #f26c4f;
}

/* line 280, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .portfolio-thumbnail p {
  color: #FFF;
}

/* line 281, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .one-half, #grid .one-third, #grid .one-fourth, #grid .one-fifth {
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

/* line 287, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .one-half {
  width: 478px;
  float: left;
  position: relative;
}

/* line 292, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .one-third {
  width: 318px;
  float: left;
  position: relative;
}

/* line 297, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .one-fourth {
  width: 238px;
  float: left;
  position: relative;
}

/* line 303, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .one-fifth {
  width: 118px;
  float: left;
  position: relative;
}

/* line 308, /home/oleg/shop/app/assets/stylesheets/store.scss */
#grid .last-grid {
  margin-right: 0px;
}

/**************************************************************************************/
/*--------------------------------------- Columns -----------------------------------*/
/************************************************************************************/
/* line 316, /home/oleg/shop/app/assets/stylesheets/store.scss */
.left {
  float: left;
}

/* line 319, /home/oleg/shop/app/assets/stylesheets/store.scss */
.right {
  float: right;
}

/* line 322, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .inner-content, .one-third-big {
  float: left;
}

/* line 325, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-half, .two-third, .one-third, .one-fourth, .one-fifth, .one-sixth, .inner-content, .one-third-big {
  margin-right: 20px;
  margin-bottom: 40px;
}

/* line 329, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one {
  width: 960px;
}

/* line 332, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-half {
  width: 465px;
}

/* line 335, /home/oleg/shop/app/assets/stylesheets/store.scss */
.two-third {
  width: 630px;
}

/* line 338, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-third {
  width: 270px;
}

/* line 341, /home/oleg/shop/app/assets/stylesheets/store.scss */
.inner-content {
  width: 712px;
}

/* line 344, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-third-big {
  width: 340px;
}

/* line 345, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-fourth {
  width: 217px;
}

/* line 348, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-fifth {
  width: 168px;
}

/* line 351, /home/oleg/shop/app/assets/stylesheets/store.scss */
.one-sixth {
  width: 135px;
}

/* line 354, /home/oleg/shop/app/assets/stylesheets/store.scss */
.last {
  margin-right: 0px;
}

/* boxes */
/* line 361, /home/oleg/shop/app/assets/stylesheets/store.scss */
.box_highlight {
  background: #f8f8f8;
  padding: 15px;
  margin: 30px 0;
  border: 1px solid #CCC;
  border-radius: 5px;
  clear: both;
}

/*-----------------------------------------------*/
/*-------------    Product Viewer  -------------*/
/*---------------------------------------------*/
/* navigation */
/* line 369, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_wrapper {
  border-bottom: 1px solid #e3e3e3;
  height: 201px;
  margin-bottom: 30px;
  padding: 0;
}

/* line 371, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_nav {
  height: 156px;
  width: 960px;
  margin: auto;
}

/* line 377, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_nav ul {
  width: 960px;
  margin: 0 auto;
}

/* line 382, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_nav li {
  float: left;
  width: 192px;
  list-style-type: none;
  text-align: center;
}

/* line 389, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_nav a {
  color: #333333;
  padding: 10px 0 5px;
  position: relative;
  word-spacing: -2px;
  font-size: 11px;
  text-decoration: none;
}

/* line 398, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prod_nav a.current {
  background: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: none;
  margin: 0;
  border-bottom: 3px solid #000;
}

/* line 407, /home/oleg/shop/app/assets/stylesheets/store.scss */
.img {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px 0 5px 10px;
  padding: 4px;
  display: block;
}

/* panes */
/* line 421, /home/oleg/shop/app/assets/stylesheets/store.scss */
#panes {
  background: #fff;
  width: 960px;
  margin: auto;
  height: 300px;
  margin-bottom: -20px;
  padding-bottom: 20px;
  /* must be relative so the individual panes can be absolutely positioned */
  position: relative;
}

/* line 434, /home/oleg/shop/app/assets/stylesheets/store.scss */
#panes div {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  color: #444;
  width: 945px;
  padding-right: 15px;
}

/* line 445, /home/oleg/shop/app/assets/stylesheets/store.scss */
#panes img {
  float: left;
  margin-right: 20px;
}

/* line 450, /home/oleg/shop/app/assets/stylesheets/store.scss */
#panes p.more {
  color: #000;
  font-weight: bold;
}

/* line 455, /home/oleg/shop/app/assets/stylesheets/store.scss */
#panes h5 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: normal;
  display: inline-block;
}

/* line 462, /home/oleg/shop/app/assets/stylesheets/store.scss */
.overlay {
  display: none;
  width: 500px;
  padding: 20px;
  background-color: #ddd;
}

/* ei slider */
/* line 474, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider {
  position: relative;
  width: 100%;
  max-width: 1920px;
  border-bottom: 1px solid #EAEAEA;
  height: 400px;
  margin: 0 auto;
}

/* line 482, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  line-height: 400px;
}

/* line 494, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* line 500, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-large li {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 508, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-large li img {
  width: 100%;
}

/* line 511, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-title {
  position: absolute;
  right: 50%;
  margin-right: 13%;
  top: 30%;
}

/* line 517, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-title h2, .ei-title h3 {
  text-align: right;
}

/* line 520, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-title h2 {
  font-size: 40px;
  line-height: 50px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #b5b5b5;
}

/* line 527, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-title h3 {
  font-size: 70px;
  line-height: 70px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: #000;
}

/* line 534, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs {
  height: 7px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}

/* line 540, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li {
  position: relative;
  float: left;
  height: 100%;
}

/* line 545, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li.ei-slider-element {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  z-index: 10;
  text-indent: -9000px;
  background: #000;
}

/* line 554, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li a {
  display: block;
  text-indent: -9000px;
  background: #eaeaea;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 1px rgba(255, 255, 255, 0.5);
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  -ms-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

/* line 576, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li a:hover {
  background-color: #f0f0f0;
}

/* line 579, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li img {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* line 601, /home/oleg/shop/app/assets/stylesheets/store.scss */
.ei-slider-thumbs li:hover img {
  opacity: 1;
  bottom: 13px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@media screen and (max-width: 830px) {
  /* line 607, /home/oleg/shop/app/assets/stylesheets/store.scss */
  .ei-title {
    position: absolute;
    right: 0px;
    margin-right: 0px;
    width: 100%;
    text-align: center;
    top: auto;
    bottom: 10px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    padding: 5px 0;
  }

  /* line 619, /home/oleg/shop/app/assets/stylesheets/store.scss */
  .ei-title h2, .ei-title h3 {
    text-align: center;
  }

  /* line 622, /home/oleg/shop/app/assets/stylesheets/store.scss */
  .ei-title h2 {
    font-size: 20px;
    line-height: 24px;
  }

  /* line 626, /home/oleg/shop/app/assets/stylesheets/store.scss */
  .ei-title h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
/*-------------------------------------------------------------------------------------------------*/
/*09 - PORTFOLIO*/
/*-------------------------------------------------------------------------------------------------*/
/* line 636, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-item-preview {
  display: block;
  background: url(file:///D|/wamp/www/TEMP/csstemplateheaven.com/images/bg-fade.png) no-repeat center center;
}

/* line 643, /home/oleg/shop/app/assets/stylesheets/store.scss */
.bordered-img {
  border: 5px solid #f8f8f8;
}

/* line 646, /home/oleg/shop/app/assets/stylesheets/store.scss */
.pretty-box {
  background-color: #f8f8f8;
  background: -moz-linear-gradient(center bottom, #f8f8f8 0px, #FFF 100%) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f8f8f8), color-stop(1, #FFF));
  border: 1px solid #ebebeb !important;
  padding: 4px;
}

/* line 653, /home/oleg/shop/app/assets/stylesheets/store.scss */
.pretty-box:hover {
  border: 1px solid #556074 !important;
  -moz-box-shadow: 0 0px 3px #e7e7e7;
  box-shadow: 0 0px 3px #e7e7e7;
  -webkit-box-shadow: 0 0px 3px #e7e7e7;
  -o-box-shadow: 0 1px 3px #e7e7e7;
}

/* line 660, /home/oleg/shop/app/assets/stylesheets/store.scss */
#portfolio {
  width: 960px;
  margin: auto;
}

/* line 665, /home/oleg/shop/app/assets/stylesheets/store.scss */
#portfolio p {
  padding: 0;
  margin-bottom: 5px;
}

/* line 667, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-container ul li a.hide {
  display: none;
}

/* line 670, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-container {
  padding: 0px;
  display: block;
  width: 990px;
  float: left;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: -30px;
}

/* line 681, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-container ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  padding-top: 10px;
}

/* line 688, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-container ul li {
  list-style-type: none;
}

/***************************************************
		  FILTERABLE   PORTFOLIO 
***************************************************/
/* line 693, /home/oleg/shop/app/assets/stylesheets/store.scss */
#filterable {
  display: inline;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* line 700, /home/oleg/shop/app/assets/stylesheets/store.scss */
#filterable li {
  float: left;
  margin-left: 25px;
}

/* line 705, /home/oleg/shop/app/assets/stylesheets/store.scss */
#filterable li a {
  display: block;
}

/* line 710, /home/oleg/shop/app/assets/stylesheets/store.scss */
.filterable_current a {
  color: #8e1a00;
}

/* line 714, /home/oleg/shop/app/assets/stylesheets/store.scss */
#filterable li h5 {
  float: left;
  margin-top: 0px;
}

/*-------------------------------------------------------------------------------------------------*/
/*PORTFOLIO DETAILS NAVIGATION*/
/*-------------------------------------------------------------------------------------------------*/
/* line 722, /home/oleg/shop/app/assets/stylesheets/store.scss */
.portfolio-details-nav {
  float: right;
  width: 100%;
  margin-bottom: 15px;
}

/* line 723, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prev, #next {
  display: block;
  float: right;
  padding: 4px 9px;
  margin-right: 5px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
}

/* line 731, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prev:hover, #next:hover {
  background-color: #F7F7F7;
}

/* line 734, /home/oleg/shop/app/assets/stylesheets/store.scss */
#prev a:hover, #next a:hover {
  text-decoration: none !important;
}

/* line 740, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu, #menu ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 746, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu {
  width: 950px;
}

/* line 751, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu:before,
#menu:after {
  content: "";
  display: table;
}

/* line 757, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu:after {
  clear: both;
}

/* line 761, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu {
  zoom: 1;
}

/* line 765, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu li {
  float: left;
  position: relative;
}

/* line 770, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu a {
  float: left;
  padding: 20px 20px 90px;
  color: #333;
  text-transform: uppercase;
}

/* line 777, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu li:hover > a {
  color: #FFF;
  background: #333;
}

/* line 783, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol {
  margin: 20px 0 0 0;
  _margin: 0;
  /*IE6 only*/
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 9999;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 803, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu li:hover > ol {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

/* line 809, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol ol {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  _margin: 0;
  /*IE6 only*/
  -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
}

/* line 819, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li {
  float: none;
  display: block;
  border: 0;
  _line-height: 0;
  /*IE6 only*/
  -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

/* line 829, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 835, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol a {
  padding: 10px;
  width: 130px;
  _height: 10px;
  /*IE6 only*/
  display: block;
  background: #333;
  color: #fff;
  border: 0;
  white-space: nowrap;
  float: none;
  text-transform: none;
}

/* line 848, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol a:hover {
  background-color: #191919;
}

/* line 853, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li:first-child > a {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

/* line 859, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #333;
}

/* line 869, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol ol li:first-child a:after {
  left: -6px;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #3b3b3b;
}

/* line 879, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li:first-child a:hover:after {
  border-bottom-color: #191919;
}

/* line 883, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol ol li:first-child a:hover:after {
  border-right-color: #0299d3;
  border-bottom-color: transparent;
}

/* line 888, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu ol li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/*-------------------------------
    Sidebar Menu 
--------------------------------*/
/* line 900, /home/oleg/shop/app/assets/stylesheets/store.scss */
.sidebar_menu li {
  padding: 10px 5px;
  border-bottom: 1px dotted #999;
}

/*-------------------------------
   Container ul Links (Vertical)
--------------------------------*/
/* line 906, /home/oleg/shop/app/assets/stylesheets/store.scss */
.container_links {
  padding: 10px 0;
}

/* line 908, /home/oleg/shop/app/assets/stylesheets/store.scss */
.container_links li {
  border-bottom: 1px dotted #CCC;
  padding: 3px 5px;
  letter-spacing: 2px;
}

/*-------------------------------
    Footer Links (Vertical)
--------------------------------*/
/* line 914, /home/oleg/shop/app/assets/stylesheets/store.scss */
.footer_links {
  margin: 0;
}

/* line 916, /home/oleg/shop/app/assets/stylesheets/store.scss */
.footer_links li {
  border-bottom: 1px dotted #737a84;
  padding: 3px 5px;
  letter-spacing: 2px;
}

/*-------------------------------
    Footer Menu 
--------------------------------*/
/* line 922, /home/oleg/shop/app/assets/stylesheets/store.scss */
.footer_menu {
  list-style: none;
  border: 0px solid black;
  width: 960px;
  margin: 10px auto 0;
  clear: both;
}

/* line 924, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu3 {
  text-align: center;
}

/* line 926, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu3 li {
  list-style-type: none;
  display: inline-block;
  margin: 0 3px;
}

/* line 928, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu3 li a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 1px #FFFFFF inset;
  color: #555555;
  font-weight: bold;
  text-decoration: none;
  padding: 0 8px;
  font-size: 11px;
  display: inline-block;
  text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
  background-image: -moz-linear-gradient(top, #fafafa, #E0E0E0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#E0E0E0));
  background-image: -webkit-linear-gradient(top, #fafafa, #E0E0E0);
  background-image: -ms-linear-gradient(top, #fafafa, #E0E0E0);
  background-image: -o-linear-gradient(top, #fafafa, #E0E0E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#E0E0E0');
}

/* line 956, /home/oleg/shop/app/assets/stylesheets/store.scss */
#menu3 li a:hover {
  -webkit-box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
  box-shadow: 0 0 6px #cccccc;
  background-image: -moz-linear-gradient(top, #E0E0E0, #E0E0E0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E0E0E0), to(#E0E0E0));
  background-image: -webkit-linear-gradient(top, #E0E0E0, #E0E0E0);
  background-image: -ms-linear-gradient(top, #E0E0E0, #E0E0E0);
  background-image: -o-linear-gradient(top, #E0E0E0, #E0E0E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0E0E0', endColorstr='#E0E0E0');
}

/* line 970, /home/oleg/shop/app/assets/stylesheets/store.scss */
.image_size34 {
  height: 100px;
  width: 100px;
}

/* line 978, /home/oleg/shop/app/assets/stylesheets/store.scss */
p.tovar {
  text-align: center;
}

/* line 982, /home/oleg/shop/app/assets/stylesheets/store.scss */
p.like {
  text-align: center;
}

/* line 988, /home/oleg/shop/app/assets/stylesheets/store.scss */
p.price {
  text-align: center;
}

/* line 994, /home/oleg/shop/app/assets/stylesheets/store.scss */
#map {
  height: 300px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

/* line 1003, /home/oleg/shop/app/assets/stylesheets/store.scss */
#map {
  height: 384px;
  width: 100%;
}

/* line 1010, /home/oleg/shop/app/assets/stylesheets/store.scss */
.Caption {
  font-family: Arial;
  font-weight: bold;
  color: #123456;
}

/* line 1018, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .title_product {
  padding-down: 10px;
}

/* line 1019, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .image_product {
  padding-top: 10px;
}

/* line 1021, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .like_and_dislike {
  padding-left: 60px;
}

/* line 1026, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .like_dislike_id {
  padding-left: 150px;
}

/* line 1028, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .image_cart {
  padding-right: 10px;
  margin-bottom: 40px;
}

/* line 1030, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .price {
  margin-left: 60px;
}

/* line 1032, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .title_product {
  margin-left: 70px;
}

/* line 1034, /home/oleg/shop/app/assets/stylesheets/store.scss */
div .link_different {
  margin-left: 90px;
}
