# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 12a944a839ad48d0922d08b2142b811bd775a6cb27b6195aad54343cb99d99d538f8d3f45f2de86e789b449f9ff4a7df1d62c19d91eddda9a98af3d52b884dd1

test:
  secret_key_base: 75f813f90344638d1d1fe635a84acf0f2a5278cc610bf59273861b56d955f90526171f20425f5f668e35fe7a18a1445f19def14acb066d67925e9ffc7c0a1a33

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
