
              <button id="loginbutton" type="button" class="btn btn-primary narbar-btn" data-toggle="modal" data-target="#login">
                <i class="glyphicon glyphicon-log-in">
                </i>Login
              </button>

             <%=render "devise/sessions/form_new"%>