<%= link_to store_show_path, data: { modal: true }, class: "like" do %>
<button type="button" class="btn btn-info" aria-label="Left Align">
<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">
</span>
</button>
<%#= count_of_product %>
<% end %>
    