<div id="footer">
  <!-- First Column -->
  <div class="one-fourth">
    <h3>Useful Links</h3>
    <ul class="footer_links">
      <li><a href="#">Lorem Ipsum</a></li>
      <li><a href="#">Ellem Ciet</a></li>
      <li><a href="#">Currivitas</a></li>
      <li><a href="#">Salim Aritu</a></li>
    </ul>
  </div>
  <!-- Second Column -->
  <div class="one-fourth">
    <h3>Terms</h3>
    <ul class="footer_links">
      <li><a href="#">Lorem Ipsum</a></li>
      <li><a href="#">Ellem Ciet</a></li>
      <li><a href="#">Currivitas</a></li>
      <li><a href="#">Salim Aritu</a></li>
    </ul>
  </div>
  <!-- Third Column -->
  <div class="one-fourth">
    <h3>Information</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet enim id dui tincidunt vestibulum rhoncus a felis.
    <div id="social_icons"> Theme by <a>
      <%=Configurable[:registration_from]%>
    </a><br>
      Photos © 
      <a> 
        <%=Configurable[:name]%>
      </a> 
    </div>
  </div>
  <!-- Fourth Column -->
  <div class="one-fourth last">
    <h3>Socia</h3>
    <img src="/assets/shop/icon_fb.png" alt=""> <img src="/assets/shop/icon_twitter.png" alt=""> <img src="/assets/shop/icon_in.png" alt=""> </div>
  <div style="clear:both"></div>
</div>