
 <div class="row">
    <div class="col-md-2">
    </div>  
    <div class="col-md-9">  
      <div class="search_panel"> 
      <%=render "searches/new"%>
      </div>
    </div>
    <div class="image_cart">
      <div class="col-md-1">
       
      </div>
    </div>  
  </div>

  
<body>
<div class="row">


  <div class="col-md-2">

  </div>

  <div class="col-md-7">  
    <div id="container">
      <div id="prod_wrapper">
        


        <div id="hide_tovar">  
          <%= render partial: "products/show" %>  
        </div>         
        <div id="mytovar">
          <%=render "store/product"%>
        </div>
     




      <!-- END prod wrapper -->
      <div style="clear:both">
      </div>
      <div class="one-third">
        <h2>Business Solutions
        </h2>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.
        </p>
        <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Find out more</a>
        </p>
      </div>
      <div class="one-third">
        <h2>Become a Partner</h2>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
        <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Contact Us Today</a></p>
      </div>
      <div class="one-third last">
        <h2>Latest News</h2>
        <p>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida.</p>
        <p style="text-align:right; margin-right: 15px"><a href="#" class="button_small">Read Article</a></p>
      </div>
      <div style="clear:both"></div>
 
        










  <div class="picture_cascad">
    <body onload=runSlideShow() bgcolor=#000000>
    <table border=0 cellpadding=0 cellspacing=0>
      <tr>
      
        <td width=150 height=180>
        <img src=Image001.jpg name=PictureBox width=450 height=180>
        </td>
      </tr>
      <tr>
        <td id=CaptionBox class=Captions align=center bgcolor=#fedcba>
        This is the default caption.
        </td>
      </tr>
    </table>
    </body>
  </div>

        <div class="heading_bg">
          <h2>About Us</h2>
        </div>
        <blockquote>Nulla hendrerit commodo tortor, vitae elementum magna convallis nec. Nam tempor nibh a purus aliquam et adipiscing elit gravida. </blockquote>
        <p style="text-align:right; margin-right: 16px; margin-bottom: 15px"><a href="#" class="button" style="font-size: 18px">Find out more</a></p>
        
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div class="heading_bg">
              <h2>Video</h2>
            </div>
            <iframe src="//www.youtube.com/embed/pKm8jCsEiCs" width="465" height="262" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
     
          <div class="col-md-2">

          </div>
         
    
      <div style="clear:both; height: 40px"></div>
    </div>
  </div>
</div>
<!-- END container -->
  <%= render "store/footer"%>
<!-- END footer -->
</body>
</html>