*** HTML CODE ***
<!DOCTYPE html>
<html>
<head>
   <style>
 
   #map {
 
        width:  500px;
 
        height: 500px;
 
      }
   </style>
 
</head>
<body>
   <h1>A Google Map</h1>
   <p>Center of downtown in Indianapolis, IN </p>
   <div id="map"></div>
   <script src="js/google-map.js"></script>
</body>
</html>
 
 